@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forbidden";
}
<h1 class="text-center">Error : 403 - Forbidden </h1>

<img src="../img/Forbidden.png" style="width:inherit;"/>
<div style="display:flex;flex-direction:column;align-items:center;justify-content:space-between; margin-top:100px;">
<h4 >You don't have permission to access this resource !!</h4>
<h5><a asp-controller = "Home" asp-action="Index">
    Click Here
</a> to return to the Home page</h5>
</div>